<div class="item-menu">
  <a class="delete-item"{{action "removeItem"}}>
    <i class="fa fa-trash"></i>
  </a>
  <div class="handle">
    <i class="fa fa-arrows-alt"></i>
  </div>
  <div class="type">Изображение</div>
</div>
<div class="image item-content">
  {{editor-image-uploader socket=socket
                          session=session
                          model=model
                          currentItemIndex=currentItemIndex
                          url=url
                          thumb=thumb
                          content=content
                          store=store}}
  <div class="form-group">
    <label for="link">
      Источник фото/изображения
    </label>
    {{input value=source class="source-input form-control" placeholder="Источник" disabled=disabled}}
  </div>
  <div class="form-group">
    <label for="link">
      Описание
    </label>
    {{input value=alt class="source-input form-control" placeholder="Описание" disabled=disabled}}
  </div>
  <div class="form-group col-lg-6 col-md-6 col-sm-6">
    <label for="link">
      Ширина
    </label>
    {{input value=width type="number" class="source-input form-control" placeholder="Ширина" disabled=disabled}}
  </div>
  <div class="form-group col-lg-6 col-md-6 col-sm-6">
    <label for="link">
      Высота
    </label>
    {{input value=height type="number" class="source-input form-control" placeholder="Высота" disabled=disabled}}
  </div>
  <div class="image-block">
    {{#if widthOrHeightPresent}}
      {{#if widthAndHeightPresent}}
        <img src="{{url}}" alt="{{alt}}" width="{{width}}" height="{{height}}" />
      {{else}}
        {{#if heightPresent}}
          <img src="{{url}}" alt="{{alt}}" height="{{height}}" />
        {{/if}}
        {{#if widthPresent}}
          <img src="{{url}}" alt="{{alt}}" width="{{width}}" />
        {{/if}}
      {{/if}}
    {{else}}
      <img src="{{url}}" alt="{{alt}}" />
    {{/if}}
  </div>
</div>
