<div class="item-menu">
  <a class="delete-item {{if disabled 'hidden' 'visible'}}"{{action "removeItem"}}>
    <i class="fa fa-trash"></i>
  </a>
  <div class="handle {{if disabled 'hidden' 'visible'}}">
    <i class="fa fa-arrows-alt"></i>
  </div>
  <div class="type">Абзац</div>
</div>
<div class="paragraph item-content" contenteditable="{{enabled}}">{{{currentItem.content}}}</div>
