{{#if model.canEdit}}
  <div class="col-lg-8" style="margin-bottom: 50px;">
    <div class="watchers">
      {{#if model.publicationWatcher.gotUsers}}
        Смотрят:&nbsp;
        {{model.publicationWatcher.usersString}}
      {{/if}}
    </div>

    {{publication-approve publication=model}}

    {{#if session.currentUser.isChiefEditor}}
      {{#if model.isDeclined}}
        <div class="delete-block">
          <button {{action 'removePublication'}} class="btn btn-danger" type="button">Удалить публикацию</button>
        </div>
      {{/if}}
    {{/if}}

    {{#if model.isNews}}
      <div class="{{ if model.typeValid 'main-input form-group has-success' 'main-input form-group has-error' }}">
        <label for="title">
          {{model.typeTitle}}
        </label>
          <select class="form-control">
            <option value="news" selected="true">Новость</option>
          </select>
      </div>
    {{else}}
      {{publication-edit-select socket=socket
                                session=session
                                model_id=model.publicationLock.id
                                valid=model.typeValid
                                value=model.type
                                selectors=settings.typeSelect
                                locked=model.publicationLock.typeLocked
                                lockedBy=model.publicationLock.typeLockedBy
                                field="type"
                                error="Выберите тип публикации"
                                title="Тип публикации"}}
    {{/if}}

    {{image-uploader socket=socket
                     session=session
                     model=model
                     modelField="poster"
                     imageableType="PublicationPoster"
                     store=store
                     locked=model.publicationLock.posterLocked
                     lockedBy=model.publicationLock.posterLockedBy
                     valid=model.posterValid
                     title="Постер публикации"
                     value=model.poster.url}}

    {{image-uploader socket=socket
                     session=session
                     model=model
                     modelField="background"
                     imageableType="PublicationBackground"
                     store=store
                     locked=model.publicationLock.backgroundLocked
                     lockedBy=model.publicationLock.backgroundLockedBy
                     valid=model.backgroundValid
                     title="Фон заголовка публикации (по умолчанию используется постер)"
                     value=model.background.url}}

    {{publication-edit-input socket=socket
                             session=session
                             model_id=model.publicationLock.id
                             valid=model.titleValid
                             value=model.title
                             locked=model.publicationLock.titleLocked
                             lockedBy=model.publicationLock.titleLockedBy
                             field="title"
                             error="Минимум 3 символа, максимум 70"
                             title=model.titleTitle}}


    {{#if model.isNotPublished}}
      {{publication-edit-input socket=socket
                               session=session
                               model_id=model.publicationLock.id
                               valid=model.slugValid
                               value=model.slug
                               locked=model.publicationLock.slugLocked
                               lockedBy=model.publicationLock.slugLockedBy
                               field="slug"
                               error="Минимум 3 символа, максимум 70"
                               title=model.slugTitle}}
    {{else}}
      {{publication-edit-input socket=socket
                               session=session
                               model_id=model.publicationLock.id
                               valid=model.slugValid
                               value=model.slug
                               locked=true
                               field="slug"
                               error="Минимум 3 символа, максимум 70"
                               title=model.slugTitle}}
    {{/if}}

    {{publication-edit-input socket=socket
                             session=session
                             model_id=model.publicationLock.id
                             valid=model.subTitleValid
                             value=model.subTitle
                             locked=model.publicationLock.subTitleLocked
                             lockedBy=model.publicationLock.subTitleLockedBy
                             field="sub_title"
                             error="Минимум 3 символа, максимум 120"
                             title=model.subTitleTitle}}

    {{publication-edit-textarea socket=socket
                                session=session
                                model_id=model.publicationLock.id
                                valid=model.contextValid
                                value=model.context
                                locked=model.publicationLock.contextLocked
                                lockedBy=model.publicationLock.contextLockedBy
                                field="context"
                                error="Минимум 100 символа, максимум 200"
                                title=model.contextTitle}}

    {{publication-edit-input socket=socket
                             session=session
                             model_id=model.publicationLock.id
                             valid=model.tagsValid
                             value=model.tags
                             locked=model.publicationLock.tagsLocked
                             lockedBy=model.publicationLock.tagsLockedBy
                             field="tags"
                             error="Теги обязательны"
                             title=model.tagsTitle}}

    {{#if model.isNeedText}}
      {{publication-edit-body socket=socket
                              session=session
                              model=model
                              model_id=model.publicationLock.id
                              valid=model.bodyValid
                              value=model.body
                              locked=model.publicationLock.bodyLocked
                              lockedBy=model.publicationLock.bodyLockedBy
                              field="body"
                              error="Минимум 3 буквы"
                              title="Текст"}}
    {{/if}}

    {{#if model.isVideo}}
      {{publication-edit-input socket=socket
                               session=session
                               model_id=model.publicationLock.id
                               valid=model.bodyValid
                               value=model.body
                               locked=model.publicationLock.bodyLocked
                               lockedBy=model.publicationLock.bodyLockedBy
                               field="body"
                               error="Формат: https://www.youtube.com/watch?v=uFau8BFbg3s"
                               title="Ссылка на видео"}}
    {{/if}}
  </div>

  <div class="col-lg-4">
    {{#if model.isNews}}
      <h3>Источник:</h3>
      {{#each model.urls as |url|}}
        <div class="publication-url">
          <div class="publication-url-description">
            <b><a href="{{url.path}}" target="_blank">{{url.title}}</a></b>
            <p>
              {{url.context}}
            </p>
          </div>
        </div>
      {{/each}}
      {{!publication-edit-source socket=socket
                                session=session
                                store=store
                                locked=model.publicationLock.urlLocked
                                lockedBy=model.publicationLock.urlLockedBy
                                model=model}}
    {{/if}}
  </div>
{{else}}
  <div class="col-lg-8" style="margin-bottom: 50px;">
    <div class="watchers">
      {{#if model.publicationWatcher.gotUsers}}
        Смотрят:&nbsp;
        {{model.publicationWatcher.usersString}}
      {{/if}}
    </div>

    {{publication-approve publication=model}}

    {{#if session.currentUser.isChiefEditor}}
      {{#if model.isDeclined}}
        <div class="delete-block">
          <button {{action 'removePublication'}} class="btn btn-danger" type="button">Удалить публикацию</button>
        </div>
      {{/if}}
    {{/if}}

    {{#if model.isNews}}
      <div class="{{ if model.typeValid 'main-input form-group has-success' 'main-input form-group has-error' }}">
        <label for="title">
          {{model.typeTitle}}
        </label>
          <select class="form-control">
            <option value="news" selected="true">Новость</option>
          </select>
      </div>
    {{else}}
      {{publication-edit-select socket=socket
                                session=session
                                model_id=model.publicationLock.id
                                valid=model.typeValid
                                value=model.type
                                selectors=settings.typeSelect
                                locked=true
                                field="type"
                                error="Выберите тип публикации"
                                title="Тип публикации"}}
    {{/if}}

    {{image-uploader socket=socket
                     session=session
                     model=model
                     modelField="poster"
                     imageableType="PublicationPoster"
                     store=store
                     locked=true
                     valid=model.posterValid
                     title="Постер публикации"
                     value=model.poster.url}}

    {{image-uploader socket=socket
                     session=session
                     model=model
                     modelField="background"
                     imageableType="PublicationBackground"
                     store=store
                     locked=true
                     valid=model.backgroundValid
                     title="Фон заголовка публикации (по умолчанию используется постер)"
                     value=model.background.url}}

    {{publication-edit-input socket=socket
                             session=session
                             model_id=model.publicationLock.id
                             valid=model.titleValid
                             value=model.title
                             locked=true
                             field="title"
                             error="Минимум 3 символа, максимум 70"
                             title=model.titleTitle}}


    {{publication-edit-input socket=socket
                             session=session
                             model_id=model.publicationLock.id
                             valid=model.slugValid
                             value=model.slug
                             locked=true
                             field="slug"
                             error="Минимум 3 символа, максимум 70"
                             title=model.slugTitle}}

    {{publication-edit-input socket=socket
                             session=session
                             model_id=model.publicationLock.id
                             valid=model.subTitleValid
                             value=model.subTitle
                             locked=true
                             field="sub_title"
                             error="Минимум 3 символа, максимум 120"
                             title=model.subTitleTitle}}

    {{publication-edit-textarea socket=socket
                                session=session
                                model_id=model.publicationLock.id
                                valid=model.contextValid
                                value=model.context
                                locked=true
                                field="context"
                                error="Минимум 100 символа, максимум 200"
                                title=model.contextTitle}}

    {{#if model.isNeedText}}
      {{publication-edit-body socket=socket
                              session=session
                              model=model
                              model_id=model.publicationLock.id
                              valid=model.bodyValid
                              value=model.body
                              locked=true
                              field="body"
                              error="Минимум 3 буквы"
                              title="Текст"}}
    {{/if}}

    {{#if model.isVideo}}
      {{publication-edit-input socket=socket
                               session=session
                               model_id=model.publicationLock.id
                               valid=model.bodyValid
                               value=model.body
                               locked=true
                               field="body"
                               error="Формат: https://www.youtube.com/watch?v=uFau8BFbg3s"
                               title="Ссылка на видео"}}
    {{/if}}
  </div>

  <div class="col-lg-4">
    {{#if model.isNews}}
      <h3>Источник:</h3>
      {{#each model.urls as |url|}}
        <div class="publication-url">
          <div class="publication-url-description">
            <b><a href="{{url.path}}" target="_blank">{{url.title}}</a></b>
            <p>
              {{url.context}}
            </p>
          </div>
        </div>
      {{/each}}
      {{!publication-edit-source socket=socket
                                session=session
                                store=store
                                locked=model.publicationLock.urlLocked
                                lockedBy=model.publicationLock.urlLockedBy
                                model=model}}
    {{/if}}
  </div>
{{/if}}
