{{#if publication.canMoveToApproved}}
  <a {{action 'moveToApproved'}}>Утвердить</a>
{{/if}}
{{#if publication.canMoveToDeclined}}
  <a {{action 'moveToDeclined'}}>Отклонить</a>
{{/if}}
{{#if publication.canMoveToChecking}}
  <a {{action 'moveToChecking'}}>На проверку</a>
{{/if}}
{{#if publication.canMoveToRework}}
  <a {{action 'moveToRework'}}>На доработку</a>
{{/if}}
{{#if publication.canMoveToReady}}
  <a {{action 'moveToReady'}}>Опубликовать</a>
{{/if}}
{{#if publication.canMoveToPublished}}
  <a {{action 'moveToPublished'}}>Опубликовать</a>
{{/if}}
