<div class="{{ if valid 'form-group has-success' 'form-group has-error' }}">
  <label for="title">
    {{title}}
    {{#if cannotEdit}}
      {{#if gotLockedBy}}
        -&nbsp;<i>редактирует: {{lockedBy.name}}</i>
      {{/if}}
    {{/if}}
  </label>
  {{input value=value class="main-input form-control" placeholder=placeholder disabled=cannotEdit}}
  {{#unless valid}}
    <span class="help-block">{{error}}</span>
  {{/unless}}
</div>
