<div class="item-menu">
  <a class="delete-item {{if disabled 'hidden' 'visible'}}"{{action "removeItem"}}>
    <i class="fa fa-trash"></i>
  </a>
  <div class="handle {{if disabled 'hidden' 'visible'}}">
    <i class="fa fa-arrows-alt"></i>
  </div>
  <div class="type">Твит</div>
</div>
<div class="tweet item-content">
  <div class="form-group">
    {{input value=source class="source-input form-control" placeholder="Ссылка на статус" disabled=disabled}}
  </div>
  <div class="tweet-content">
    {{{html}}}
  </div>
</div>
