<div class="publications-table-container">
  <div class="form-group col-lg-4">
    {{input value=term name="term" class="form-control" placeholder="Поиск"}}
  </div>
  <!--<div class="col-lg-2">
    <select onchange={{action "selectAuthor" value="target.value"}} class="form-control">
      {{#each types as |authorChoice|}}
        <option value={{authorChoice.id}} selected={{is-equal type authorChoice.id}}>{{authorChoice.label}}</option>
      {{/each}}
    </select>
  </div>-->
  <div class="form-group col-lg-2">
    {{link-to 'Добавить' 'users.new' class="btn btn-success"}}
  </div>
  <br />
  <br />
  <br />
  {{outlet}}
</div>
