<div class="publications-table-container">
  <div class="form-group col-lg-4">
    {{input value=term name="term" class="form-control" placeholder="Поиск"}}
  </div>
  <div class="form-group col-lg-2">
    <select onchange={{action "selectState" value="target.value"}} class="form-control">
      {{#each settings.urlStates as |stateChoice|}}
        <option value={{stateChoice.id}} selected={{is-equal state stateChoice.id}}>{{stateChoice.label}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group col-lg-2">
    {{link-to 'Добавить' 'urls.new' class="btn btn-success"}}
  </div>
  <br />
  <br />
  <br />
  {{outlet}}
</div>
