<table class="table table-striped publications-table">
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Добавлено</th>
      <!--<th>Редактор</th>-->
      <th>Статус</th>
      <th>Просмотров</th>
      <th>На главной</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |publication|}}
      <tr>
        <td>
          {{#link-to 'publications.show' publication.id class="title"}}
            {{publication.title}}
          {{/link-to}}
          <div class="type">
            {{#if publication.isNews}}
              Новость
            {{/if}}
            {{#if publication.isGuide}}
              Гайды
            {{/if}}
            {{#if publication.isVideo}}
              Видео
            {{/if}}
          </div>
        </td>
        <td class="time">{{publication.creator.name}} - {{publication.timeFullLLL}}</td>
        <!--<td class="time">{{publication.editor.name}}</td>-->
        <td>
          {{#if publication.isApproved}}
            Отправлено на проверку - {{publication.approveTimeFullLLL}}
          {{/if}}
          {{#if publication.isPending}}
            В процессе
          {{/if}}
          {{#if publication.isPublished}}
            Опубликовано - {{publication.publishedTimeFullLLL}}
          {{/if}}
          {{publication-approve publication=publication}}
        </td>
        <td class="time">
          {{publication.totalVisits}}
        </td>
        <td class="time">
          {{#if publication.isOnMain}}
            Да
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="show-more">
  {{#if canLoadMore}}
    <a class="btn btn-primary" {{action 'getMore'}}>
      {{#if loading}}
        Загрузка
      {{else}}
        Еще
      {{/if}}
    </a>
  {{/if}}
</div>
