<div class="buttons col-lg-12 col-md-12">
  <button type="button" name="button" class="btn btn-success" {{action "savePublication"}} disabled={{model.formInvalid}}>Сохранить</button>
  <button type="button" name="button" class="btn btn-danger" {{action "removePublication"}}>Удалить</button>
</div>
<br/>
<br/>
<div class="col-lg-8">
  <label for="title">Тип публикации</label>
  <div class="{{ if model.typeValid 'form-group has-success' 'form-group has-error' }}">
    <select onchange={{action "selectType" value="target.value"}} class="form-control">
      {{#each settings.typeSelect as |typeChoice|}}
        <option value={{typeChoice.id}} selected={{is-equal model.type typeChoice.id}}>{{typeChoice.label}}</option>
      {{/each}}
    </select>
    {{#unless model.typeValid}}
      <span class="help-block">Выберите тип публикации</span>
    {{/unless}}
  </div>
  <!--<div class="form-group has-success">
    <label for="slug">Ссылка (Внимание ссылка автогенерируется! Заполнять ее не нужно)</label>
    {{input value=model.slug name="slug" class="form-control" placeholder="Ссылка (slug)"}}
  </div>-->
  <div class="{{ if model.titleValid 'form-group has-success' 'form-group has-error' }}">
    <label for="title">Заголовок ({{model.titleSymbols}}/70)</label>
    {{input value=model.title name="title" class="form-control" placeholder="Заголовок"}}
    {{#unless model.titleValid}}
      <span class="help-block">Минимум 3 символа, максимум 70</span>
    {{/unless}}
  </div>
  <div class="{{ if model.subTitleValid 'form-group has-success' 'form-group has-error' }}">
    <label for="title">Подзаголовок ({{model.subTitleSymbols}}/120)</label>
    {{input value=model.subTitle name="subTitle" class="form-control" placeholder="Подзаголовок"}}
    {{#unless model.subTitleValid}}
      <span class="help-block">Минимум 3 символа, максимум 120</span>
    {{/unless}}
  </div>
  <div class="{{ if model.contextValid 'form-group has-success' 'form-group has-error' }}">
    <label for="context">Контекст ({{model.contextSymbols}}/160)</label>
    {{textarea value=model.context name="context" class="form-control" placeholder="Контекст"}}
    {{#unless model.contextValid}}
      <span class="help-block">Минимум 3 символа, максимум 160</span>
    {{/unless}}
  </div>
  {{#if model.isNews}}
    {{partial 'publications/partials/body'}}
  {{/if}}
  {{#if model.isArticle}}
    {{partial 'publications/partials/body'}}
  {{/if}}
  {{#if model.isSlide}}
    {{partial 'publications/partials/slide'}}
  {{/if}}
</div>
<div class="col-lg-4">
  {{#if model.isNews}}
    {{partial 'publications/partials/source'}}
  {{/if}}
</div>
