<div class="slider-form">
  {{#if model.gotSlides}}
    <h4>Слайды:</h4>
  {{/if}}
  <div class="slides">
    {{#each model.slidesActive as |slide|}}
      <div class="col-lg-12 col-md-12 slide-image-uploader">
        <a class="remove-slide" {{action "removeSlide" slide}}>Удалить слайд</a>
        {{image-uploader gotImage=slide.imageValid model=slide store=store}}
      </div>
      <div class="{{ if slide.titleValid 'form-group has-success' 'form-group has-error' }}">
        <label for="title">Заголовок слайда ({{slide.slideSymbols}}/70)</label>
        {{input value=slide.title name="title" class="form-control" placeholder="Заголовок слайда"}}
        {{#unless slide.titleValid}}
          <span class="help-block">Минимум 3 символа, максимум 70</span>
        {{/unless}}
        <div class="{{ if slide.bodyValid 'form-group has-success' 'form-group has-error' }}">
          <label for="body">Текст слайда</label>
          {{textarea value=slide.body name="body" class="form-control" placeholder="Текст слайда"}}
          {{#unless slide.bodyValid}}
            <span class="help-block">Минимум 3 символа</span>
          {{/unless}}
        </div>
      </div>
    {{/each}}
  </div>
  <a {{action "addSlide"}}>Добавить слайд</a>
</div>
